<h2>Edit Quote</h2>
<%=
  render "quote_form",
    locals: {
    submit_action: "Update",
    cancel_path: quote_path(@quote, return_to: params[:return_to]),
    return_to: params[:return_to]
  }
%>

