<h2>Quote</h2>

<div>
  <p>Words:</p>
  <%= simple_format(@quote.text) %>
</div>

<div>
  <p>Source:</p>
  <% if @quote.source_is_url? %>
    <%= link_to @quote.source, @quote.source, id: "source-link" %>
  <% else %>
    <%= @quote.source %>
  <% end %>
</div>

<div>
  <p>Author:</p>
  <%= @quote.author %>
</div>
